.form-background {
    background-color: black;

    padding: 30px;
}

.form-white {
    width: 100%;
    max-width: 450px;
    height: 540px;
    
    background-color: white;
    
    padding: 50px;
}

h4 {
    font-size: 30px;
    margin-top: -10px;
    margin-bottom: 30px;
}

p {
    margin-bottom: 10px;
    width:100%
}

.send {
    color: white;
    background-color: orange;
    border: none;
    border-radius:3px;
    
    width: 130px;
    height:30px;

    display:block;
    margin-left:auto;
}

.long {
    width:100%;
    padding:10px;
}

.input {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    font-size: 20px;
    border: 1px solid #eee;
    border-radius: 5px;
}

.half {
        width:50%;
    float:left;
    padding: 10px;
}
