
.main-background {
    width: 100%;
    height: 550px;
    padding: 1px;
    position: relative;
    
    background-image: url(../img/mango.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment : fixed;
}

.main-title {
    color: white;
    font-size: 83px;
    text-align: center;
    letter-spacing: 8px;
}

.main-story {
    color: white;
    font-size: 20px;
    text-align: right;
    
    position: relative;
    bottom: 70px;
    right: 145px;
}

.main-button {
    width: 17%;
    max-width: 180px;
    min-width: 120px;
    
    font-size: 20px;
    font-weight: 600;
    
    border: none;
    border-radius: 50px;
    
    position: absolute;
    left: 650px;
}

.sup-story {
    width: 72%;
    max-width: 700px;
    height: 200px;
    background-color: #eee;
    
    padding: 40px;
    
    position: relative;
    bottom: 30px;
    margin: auto;
    
    text-align: center;
}

.text-input {
    padding: 10px;
    font-size: 20px;
    border: 4px solid pink;
    border-radius: 5px;
}

.form-background {
    background-color:black;
    padding: 30px;
}

.form-white {
    width: 100%;
    max-width: 450px;
    height: 540px;
    
    background-color: white;
    
    margin:auto;
    padding: 50px;
}

.form-input {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
}

.w-50 {
    width:50%;
    float:left;
    padding: 10px;
}

.w-100 {
    width:100%;
    padding:10px;
}

.button-send {
    display: block;
    margin-left: auto;
    
    width:100px;
    height:30px;
    
    border: 1px solid black;
    border-radius: 5px;
}
